.nav {
    border: #f00 0px solid;
    a {
        color: #ffffff;
    }
    a:active, a:hover {
        text-decoration: none;
    }
}

.logo{
    width: 100%;
    height: 32px;
    background-image: url("../../img/logo.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}