.nav {
    border: #f00 0px solid;
    a {
        color: #ffffff;
    }
    a:active, a:hover {
        text-decoration: none;
    }
}

.logo{
    background: rgba(255, 255, 255, 0);
    background-image: url("../../img/logo.png");
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: 90%;
    height: 56px;
    width: 100%;
    margin: 2px;
    height: 56px;
}